<ion-header>
    <ion-toolbar>
          <button ion-button large style="float:left;">
            <ion-icon name="home"></ion-icon>
          </button>
          <button ion-button large style="float:right;">
            <ion-icon name="add"></ion-icon>
          </button>
    </ion-toolbar>
</ion-header>

<ion-label>
  Ma géolocalisation:
</ion-label>

<ion-item>
    <img src="{{myloc.icon}}" item-start>
    <!--<ion-icon [name]="myloc.icon" slot="start"></ion-icon>-->
    {{myloc.temperature}}
    <div class="item-note" slot="end">
      {{myloc.ville}}
    </div>
</ion-item>

<ion-label>
  Favoris:
</ion-label>

<ion-content>
    <ion-list>
      <ion-item *ngFor="let item of items">
        <ion-icon [name]="item.icon" slot="start"></ion-icon>
        {{item.title}}
        <div class="item-note" slot="end">
          {{item.note}}
        </div>
      </ion-item>
    </ion-list>
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
  </ion-content>
