<ion-header id="ionHeader">
    <ion-toolbar>
          <button ion-button id="buttonHome" large style="float:left;width:25%;border-radius:25px;background-color: deepskyblue;" color="primary" (click)="changeColorDelay('buttonHome');" clear icon-only> 
            <ion-icon name="home" style="font-size: 200%;color: honeydew;" is-active="false"></ion-icon>
          </button>

          <button ion-button id="buttonPlus" large style="float:right;width:25%;border-radius:25px;background-color: deepskyblue;" (click)="presentAlertPrompt();changeColor('buttonPlus','init');"  clear icon-only>
            <ion-icon name="add" style="font-size: 200%;color: honeydew;"  is-active="false"></ion-icon>
          </button>
    </ion-toolbar>
</ion-header>

<ion-label style="background-color: deepskyblue;font-style: italic;color: honeydew;font-size: 125%;">
  Ma géolocalisation:
</ion-label>

<!--  *ngIf="myloc !== null" -->
<ion-item *ngIf="myloc !== null" href="/meteo-detail?id=myloc" id="myloc">
    <img src="{{myloc.icon}}" item-start>
    <!--<ion-icon [name]="myloc.icon" slot="start"></ion-icon>-->
    {{myloc.temperature}}
    <div class="item-note" slot="end">
      {{myloc.ville}}
    </div>
</ion-item>

<ion-label style="background-color: deepskyblue;font-style: italic;color: honeydew;font-size: 125%;">
  Favoris:
</ion-label>

<!--  *ngIf="items.length > 0" -->
<ion-content>
    <ion-list *ngFor="let item of items; let i = index;">
      <ion-item href="/meteo-detail?id={{i}}" id="ville={{i}}" style="background-image: url('assets/icon/cloudy.jpg');">
          <img src="{{item.icon}}" item-start>
          <!--<ion-icon [name]="myloc.icon" slot="start"></ion-icon>-->
          {{item.temperature}}
          <div class="item-note" slot="end">
            {{item.ville}}
          </div>
      </ion-item>
    </ion-list>
    <!--
      <div *ngIf="selectedItem" padding>
        You navigated here from <b>{{selectedItem.title }}</b>
      </div>
    -->
</ion-content>